// MEDIA QUERIES
@media screen and (max-width:1580px) {
    .editmodal {
        height: 20rem;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            input {
                margin: 1rem;
            }

            button {
                margin: 0;
            }
            
        }
    }
    
    .deletemodal {

        h2 {
            margin-top: 3rem;
            text-align: center;
        }
        button{
            margin: 0;
        }

        ul {
            padding: 0;
        }
    }
}

@media screen and (max-width:1057px) {
    .socials {
        li {
            margin: 0;
        }
        ul{
            padding: 0;
        }
    }

    header {
        justify-content: space-evenly;
    }

    .logo {
        margin-left: -2rem;
    }

    nav{
        ul {
            padding: 0;
        }
    };
}

@media screen and (max-width:930px) {
    .container {
        max-width: 100%;
    }
    .mainContent {
        width: 100%;
        margin-bottom: 1rem;
    }

    .infos {
        margin-left: 5rem;
    }
    .banner{
        margin-left: 5rem;
    }

    
    .addTaxi {
        flex-direction: column;
        height: 15rem;

        form {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        label {
            margin-top: 1rem;
        }

        button {
            margin: .5rem 0;
        }
        }
    }
}

@media screen and (max-width:876px) {

    header {

        .account {
            left: 90vw;
    }
}
}

@media screen and (max-width: 816px) {

    .editmodal {
        width: 80vw;
    }

    .deletemodal {
        width: 80vw;
    }
    
}

@media screen and (max-width:745px) {

    .infos {
        margin-left: 3rem;
    }
    .banner{
        margin-left: 3rem;
    }
}

@media screen and (max-width:738px) {
    .logo{
        h1{
            margin-left:-2rem;  
        }
    }

    header {
        ul {
            gap: .8rem;
        }
        .account {
            left: 90.5vw;
            
            h2 {
                font-size: 1.2rem
            }
        }
        .logout {
            a {
                font-size:1.2rem;
            }
        }
    }

}

@media screen and (max-width:706px) {

    .infos {
        margin: 1rem;
    }
    .banner{
        margin: 1rem;
    }
}

@media screen and (max-width:673px) {

    .infos {
        font-size:1rem;
        margin: 0;
       
        p {
            font-size:1.7rem; text-align: left;
        }
    }
    .banner{
        p{
            font-size:2rem;
        }
        margin: 1rem;

    }

    .description {
        max-width: 80vw;

        p {
            text-align: center;
        }
    }

    .prefooter {
        justify-content: center;
        align-items: center;
    }

    .banner {
        margin: 0;
        width:auto;
    }

    .descriptionlogo {
        ul {
            margin-top: -4rem;
            padding: 0;
        }
    }
}

@media screen and (max-width:650px) {

    .taxiBox {
        width: 70vw;
        height: 3rem;
    }
    
    .socials {
        ul{
            gap: 0;
            padding: 0;
        }
        li {
            margin: 0.6rem;
        }
    }

    header .account {
        left: 90vw;
    }

    .logo {
        margin-left: 0;
    }

    .socials {
        margin-left: -4rem;
    }

    nav {
        margin-left: -2rem;
    }
}

@media screen and (max-width:560px) {
    .logo {
        margin-left: -1rem;
    }

    .closeButton {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 90vw;
        padding: 1rem .5rem;

        a {
            color: $fontSecondaryColor;
        }
    }

    nav {
        display: none;
    }

    .menuIcon {
        display: inline-block;
        color: $fontSecondaryColor;
        font-size:1.5rem;
        margin-left: -2rem;
    }
  
    .navigation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
        background: lighten($main-color, 10%);
        
        nav {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 0;

            a {
                font-size: 1rem;
                padding: 1rem;

                &:hover, &active {
                    color: $hover;
                    transition: all 0.3s ease-in-out;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                padding: .5rem;
            }

        }
    }
}

@media screen and (max-width:492px) {

    .logo {
        h1{
            font-size:1.5rem;
            margin-left: -3rem;
        }
        
    }
    nav {
        font-size:.8rem;
    }

    header .account {
        left: 86vw;
    }

    
    .descriptionlogo {
        ul {
            font-size: .8rem;
            margin-top: -4rem;
        }
    }

    .description {
        max-width: 90vw;
        
    }
}

@media screen and (max-width:477px) {
    .logo {
        margin: 0;
    }

    nav {
        margin-left: -2.5rem;
    }

    .socials {
        i {
            font-size: 1.2rem;
            margin-left: -.5rem;
        }
    }
}
@media screen and (max-width:439px) {

    nav {
        font-size:.7rem;
        margin-left: -3.9rem;
    }

    header {
        ul {
            ul {
                gap: .8rem;
            }
        }
    }
}

@media screen and (max-width:433px) {

    .banner p {
        font-size: 1.3rem;
    }
    .descriptionlogo {
        ul {
            font-size: .74rem;
            margin-top: -4rem;
        }
    }
}
@media screen and (max-width:414px){
    
.descriptionlogo ul {
    font-size: .55rem;
}

.loginform {
    width: 19rem;
}
.taxiBoxAdmin {
    width: 75vw;
    gap: .5rem;

    h2 {
        font-size: 1.5rem;
    }

    .number {
        font-size: 1rem;
    }
}
}

@media screen and (max-width:404px) {

    .banner p {
        font-size: 1.4rem;
    }
    .descriptionlogo {
        ul {
            font-size: .65rem;
        }
    }
}

@media screen and (max-width:390px) {

    .menuIcon {
        margin-left: -4rem;
    }
    
    .logo {
        margin-left: -1.5rem;
    }
}
@media screen and (max-width:375px) {

    header .account {
        left: 83vw;
    }

    .mainContent {
        margin-top: 1rem;
    }

}

@media screen and (max-width:360px) {

    header .account {
        left: 83vw;
    }

    .descriptionlogo ul {
        display: none;
    }
}

@media screen and (max-width:341px) {

     header {
        .account {

            left: 80vw;

            h2{
                font-size: .9rem;
            }
        }
    }
}

@media screen and (max-width:320px) {

    .taxiBox {
        max-width: 70vw;
    }
        .logo {
            
            h1 {
                font-size: 1.1rem;
        }
    }
}