// VARIABLES

$background-color: #1b1b1b;
$main-color: #2c2c2c;
$white-bg: rgb(238, 238, 238);
$gray: rgb(206, 206, 206);

$font-main-color: rgb(43, 43, 43);
$fontSecondaryColor: aliceblue;
$hover: #4267b2;

$logo-color: #f5ed00;

$logo-font: "Bebas Neue", cursive;
$font: "Open Sans", sans-serif;
