// VARIABLES

$background-color: #131311;
$main-color: #1010101b;
$second-color: #afafaf;
$navig-color: rgba(31, 31, 31, 0.898);

$font-main-color: rgb(17, 17, 17);

$logo-color: rgb(243, 239, 0);

$logo-font:'Bebas Neue', cursive; 
$font: 'Open Sans', sans-serif;


// GENERALS

body {
    margin: 0;
    padding: 0;
    background: #F5ED00;
    display: flex;
    justify-content: center;
    min-height: 100vh;

    font-family: $font;
    font-size: .9em;
    
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1, .navigation {
    display: flex;
    flex-direction: column;
    height: min-content;
    
    margin-top: -5em;


}

ul {
    display: flex;
    gap: 2em;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #061c36;
    border-bottom: .2rem solid #131311;
    position: fixed;
    top: 0;
}

.logo {
    
    font-family: $logo-font;
    font-size: 2.5rem;

  
}

.site {
    width: 100vw;

    background: $main-color;
    

    margin: 0;

}
// TYPOGRAPHY

h1 {
   // background:    linear-gradient(186deg, darken($second-color, 8%) 75.5%, rgb(239, 239, 239) 100%);
    color: #F5ED00;
  //box-shadow: darken($main-color, 100%) 0em .2em .1em;
 
  font-weight: 300;
       
    padding-top:.20em;
    padding-left:.5em;
    padding-right: .5em;

    border-bottom: .03em #F5ED00 solid;
    

   
}

.mainContent {
    display: flex;
    flex-direction: row;
    
    gap: 1em;
    
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 15%;
}

h2 {
    font: {
        family: $logo-font;
        weight: 400 ;
        size: 2.2rem;
    }
    margin: 0;
  
}


// SOCIAL ICONS

.logo li {
    list-style-type: none;
}


.logo a {
    color:  $navig-color;
}

#fblogo:hover {
    color:  #4267B2;
    transition: .5s all ease-in;
}

.logo a:hover {
    color: #131311;
    transition: .5s all ease-in;
}


// NAVIGATION

.socials li {
    list-style-type: none;


    a {
        color: lighten($font-main-color, 70%);
        text-decoration: none;
        
     
    }

    a:hover {
        color: lighten($font-main-color, 90%);
    }

    font-size: 1.8em;


}

.navigation {
    background: $navig-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 20;


    
.active {
    
    color: $second-color;
}
}




// BOXES

.taxiBox {
    
    background: rgba(155, 155, 155, 0.253);
    margin: 0;
    margin-top: 1rem;

    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: $font-main-color;

    text-align: center;
 
    width: 25vw;
    height: 10vw;

    padding: 2rem;

    cursor: pointer; 
    user-select: none;


    h2 {
        color: #131311;
       
    }


  a {
      text-decoration: none;
      color: $font-main-color;

      font: {
          weight: 100;
          size: 1.5em;
      }
}


}   
    .order {
        opacity: 1;
    }

    .isvisible {
        opacity: 1;
    }

.taxiBox:hover {


    background: #061c36f1;

    opacity: 1;
    color: lighten($font-main-color, 15%);
    transition: .4s;
    animation: ease-in;

    h2 {
        color:#F5ED00;
    }

    a {
        color: aliceblue;
    }
}



// FOOTER



footer {
    margin-top: 2rem;
        background: #061c36;
        padding: .02em;

        font: {
            family: $logo-font;
        }
        border-top: .2em #131311 solid;
        display: flex;
        align-items: center;
        justify-content: center;
}

.mainflex {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1570px ) {
    .mainContent {
        margin-top: 18%;
    }
}

@media screen and (max-width: 1250px ) {
    .mainContent {
        margin-top: 21%;
    }
}

@media screen and (max-width: 1198px ) {
    .mainContent {
        margin-top: 25%;
    }
}

@media screen and (max-width: 1023px ) {
    .mainContent {
        margin-top: 30%;
    }
}

// MEDIA QUERRIES
@media screen and (max-width: 900px ) {
    .taxiBox {
        width: 85%;
    }
}

@media screen and (max-width: 800px ) {
    .mainContent {
        margin-top: 35%;
    }
}

@media screen and (max-width: 623px ) {
    .mainContent {
        margin-top: 40%;
    }
}

@media screen and (max-width: 596px ) {
    .taxiBox {
        width: 80%;
    }
}

@media screen and (max-width: 545px ) {
    .logo {
        font-size: 2rem;
    }

    .mainContent {
        margin-top: 25vh;
    }
}

@media screen and (max-width: 451px ) {
    .logo {
        font-size: 1.8rem;
    }
    .mainContent {
        margin-top: 19vh;
    }
}

@media screen and (max-width: 412px ) {

    .mainContent {
        margin-top: 22vh;
    }
}


@media screen and (max-width: 400px ) {
    .logo {
        font-size: 1.5rem;
    }

    .mainContent {
        margin-top: 18vh;
    }
    .taxiBox {
        width: 75%;
    }
}