// VARIABLES

$background-color: #1b1b1b;
$main-color: #2c2c2c;
$white-bg: rgb(238, 238, 238);
$gray: rgb(206, 206, 206);

$font-main-color: rgb(43, 43, 43);
$fontSecondaryColor: aliceblue;
$hover: #01bbc2;

$logo-color: #f5ed00;

$logo-font: "Bebas Neue", cursive;
$font: "Open Sans", sans-serif;

// GENERALS

body {
    margin: 0;
    padding: 0;
    background: $white-bg;
    display: flex;
    justify-content: center;
    min-height: 100vh;

    font-family: $font;
    font-size: 0.9em;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site {
    width: 100vw;
    margin: 0;
}

// HEADER
header {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    background: $main-color;
    border-bottom: 0.1rem solid #131311;

    h2 {
        color: $logo-color;
        font-size: 1.5rem;
        align-self: flex-end;
    }
    
    .logo {
    font-family: $logo-font;
    font-size: 1.1rem;

    a {
        text-decoration: none;
    }
}

.logout,
.login {
    
    a {
        text-decoration: none;
        color: $gray;
        font-family: $logo-font;
        font-size: 1.5rem;

        &:hover {
            color: $hover;
            transition: all 0.3s ease-in-out;
        }
    }
}

.account {
    position: absolute;
    left: 92vw;
    text-align: center;
}

ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    font-weight: 600;
    font-family: $font;
    text-transform: uppercase;
    
    a{
        text-decoration: none;
        color: $fontSecondaryColor;

        &:hover {
            color: $hover;
            transition: all 0.3s ease-in-out;
        }
    }
}

}

// TYPOGRAPHY

h1 {
    color: $fontSecondaryColor;

    border-top: 0.03em $fontSecondaryColor solid;
    border-bottom: 0.03em $fontSecondaryColor solid;

    padding-top: 0.25rem;
    font-weight: 300;
}

// SOCIALS NAVIGATION

.socials {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    ul {
        display: flex;
        flex-direction: row;
    }

    li {
        list-style-type: none;
        margin: 1rem;
    }

    a {
        font-size: 1.5rem;
        text-decoration: none;
        color: $fontSecondaryColor;
        transition: all 0.2s ease-in-out;

        &:hover &:active {
            color: $hover;
        }
    }
}

#fblogo:hover,
#fblogo:active {
    color: $hover;
    transition: 0.2s all ease-in-out;
}

.mainContent {
    width: 70%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;

    margin: 5rem 0 5rem 0;
}

h2 {
    font: {
        family: $logo-font;
        weight: 400;
        size: 2.2rem;
    }
    margin: 0;
}

// BOXES

.taxiBox {
    background: $gray;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $font-main-color;

    text-align: center;

    width: 15rem;
    height: 4rem;

    padding: 2rem;

    cursor: pointer;
    user-select: none;
    transition: all ease-in-out 0.2s;

    h2 {
        color: $font-main-color;
    }

    a {
        text-decoration: none;
        color: $font-main-color;

        font: {
            weight: 100;
            size: 1.5em;
        }
    }

    &:hover,
    &:active {
        background: $main-color;

        opacity: 1;
        color: lighten($font-main-color, 15%);

        h2 {
            color: $hover;
        }

        a {
            color: $fontSecondaryColor;
        }
    }
}

// FOOTER

footer {
    margin-top: 2rem;
    background: rgb(206, 206, 206);
    padding: 0.02em 0 6rem 0;
    width: 100%;

    font: {
        family: $logo-font;
    }

    border-top: 0.25em darken($main-color, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    user-select: none;
}

.prefooter {
    width: 100%;
    color: $font-main-color;

    background: url("../images/logo2.png") no-repeat;

    background-position: fixed;
    background-position-x: 58vw;
    background-size: 41rem;
    overflow: hidden;

    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    min-height: 25rem;

    font: {
        size: 1rem;
    }

    p {
        font: {
            size: 2rem;
        }
    }

    a {
        text-decoration: none;
        color: #4267b2;
        transition: all 0.5s ease-in-out;

        &:hover,
        &:active {
            color: $hover;
        }
    }
}

.infosheader {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    align-items: baseline;
    justify-content: flex-end;

    margin-left: 10rem;

    img {
        width: 14%;
        height: auto;
        margin-left: 4px;
    }
}

.banner {
    margin-left: 10rem;
    width: 100%;

    p {
        font-size: 2.5rem;
    }
}

.infos {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 2rem 0;
    margin-left: 10rem;

    h3 {
        color: #4267b2;
        font: {
            size: 3.5rem;
            weight: 300;
        }
    }

    align-items: flex-start;
    justify-content: baseline;

    ul {
        font: {
            size: 0.98rem;
        }
        display: flex;
        gap: 0.5rem;

        margin-top: -4rem;
        margin-left: 9.7rem;
    }

    li {
        list-style-type: none;
    }
}

.description {
    width: 40.5rem;
    text-align: justify;
    line-height: 2.2rem;
    margin-left: 10vw;

    p {
        font: {
            size: 1.5rem;
        }
    }
}

.mainflex {
    display: flex;
    flex-direction: column;
}

.taxiBoxAdmin {
    background: rgb(206, 206, 206);
    margin: 0;
    gap: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $font-main-color;

    text-align: center;

    width: 25rem;
    height: 5rem;

    padding: 2rem;

    cursor: pointer;
    user-select: none;
    transition: all ease-in-out 0.2s;

    h2 {
        color: $font-main-color;
    }

    a {
        text-decoration: none;
        color: $font-main-color;

        font: {
            weight: 100;
            size: 1.5em;
        }
    }

    &:hover,
    &:active {
        background: $main-color;

        opacity: 1;
        color: lighten($font-main-color, 15%);

        h2 {
            color: $hover;
        }

        a {
            color: $fontSecondaryColor;
        }
    }
}

.controls {



    li {
        line-height: 2rem;
        list-style-type: none;

        a {
            &:hover &:active {
                color: $hover;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

// ADD TAXI

.addTaxi {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 6rem;

    font-family: $font;
    font-weight: 600;
    background: $gray;
    width: 100%;

    input,
    button {
        background-color: darken($gray, 5%);
        border: none;
        height: 2rem;
        border-radius: 0.1rem;
    }

    input {
        padding: 0.1rem.5rem;
        text-align: center;
    }

    label {
        margin-left: 1rem;
    }

    button {
        width: 5rem;
        height: 2.5rem;
        background-color: darken($gray, 10%);
        font-weight: 600;
        margin-left: 5rem;

        &:hover,
        &:active {
            background-color: $hover;
            transition: all 0.3s ease-in-out;
        }
    }

    form {
        margin: 0;
    }
}

.addIcon {
    font-size: 1.5rem;
    padding: 0.75rem;

    a {
        text-decoration: none;
        color: darken($gray, 50%);

        &:hover,
        &:active {
            color: $hover;
            transition: all 0.3s ease-in-out;
        }
    }
}


.loginform {

    width: 25rem;
    height: 20rem;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font;
    background: darken($gray, 10%);

    input {
        color: darken($gray,50%);
        background: darken( $gray, 20%);
        border: none;
        margin: 1rem 0;
        padding: .5rem;

        &:last-child {
            font-weight: 600;

            &:hover,
            &:active {
                background-color: $hover;
                transition: all 0.3s ease-in-out;
            }
 
        } &:hover,
        &:active {
            background-color: $hover;
            transition: all 0.3s ease-in-out;
        }

    }

    label {
        font-weight: 600;
    }
}

// MODAL OVER

.editmodal {
    position: fixed;
    background:$background-color;
    width: 45vw;
    height: 25vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    box-shadow: 0 0 20rem $background-color;

    h2 {
        color: $fontSecondaryColor;
    }

    input {
        background: $gray;
        font-weight: 600;
        border: none;
        height:1.6rem;
    }
}