// VARIABLES

$background-color: #131311;
$main-color: #1010101b;
$second-color: #afafaf;
$navig-color: rgba(31, 31, 31, 0.898);

$font-main-color: rgb(9, 9, 9);

$logo-font:'Bebas Neue', cursive; 
$font: 'Open Sans', sans-serif;


// GENERALS

body {
    margin: 0;
    padding: 0;
    background: rgba(24, 24, 24, 0.432);     
    display: flex;
    justify-content: center;

    font-family: $font;
    font-size: .9em;
    
}


.container h1, .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    gap: 2em;
    padding: 0;
}


.logo {
    display: flex;
    justify-content: center;
    font-family: $logo-font;
    font-size: 3rem;
    background: lighten($second-color, 8%);
    border-bottom: .1em darken($second-color, 5%) solid;
    box-shadow: 0 0 1em darken($second-color, 30%);
}

.site {
    width: 100vw;

    background: $main-color;
    

    margin: 0;

}
// TYPOGRAPHY

h1 {
   // background:    linear-gradient(186deg, darken($second-color, 8%) 75.5%, rgb(239, 239, 239) 100%);
    color: lighten($font-main-color, 15%);


  //box-shadow: darken($main-color, 100%) 0em .2em .1em;

  font-weight: 300;
  border: {
      top: .02em lighten($font-main-color, 50%) solid;
      bottom: .02em lighten($font-main-color, 50%) solid;
}       
    padding-top:.20em;
    padding-left:.5em;
    padding-right: .5em;
}

.mainContent {
    display: flex;
    flex-direction: row;
    
    gap: 2em;
    justify-content: center;


    flex-wrap: wrap;    

    margin-top: 3.5em;

}

h2 {
    font: {
        family: $logo-font;
        weight: 400 ;
        size: 3em;
    }
    margin: 0;
  
}



// NAVIGATION

.navigation li {
    list-style-type: none;

    a {
        color: lighten($font-main-color, 70%);
        text-decoration: none;
        
     
    }

    a:hover {
        color: lighten($font-main-color, 90%);
    }

    font-size: 1.2em;
}

.navigation {
    background: $navig-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 20;

    box-shadow: darken($main-color, 20%) 0em  .5em .5em; 
    
.active {
    
    color: $second-color;
}
}




// BOXES

.taxiBox {
    
    background:    lighten($second-color, 8%);

    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: $font-main-color;
    opacity: .7;

    text-align: center;
    
 
    width: 25vw;
    height: 13vw;

    box-shadow: darken($main-color, 100%) .5em .5em .5em .3em;

  a {
      text-decoration: none;
      color: $font-main-color;

      font: {
          weight: 100;
          size: 1.5em;
      }
  }

  
}   

.taxiBox:hover {

    opacity: 1;
    color: rgb(255, 221, 31);
    transition: .5s;
    animation: ease-in;


}



// FOOTER

footer p {

    text-align: center;
    color: lighten($font-main-color, 50);
}

footer {
        background: lighten($second-color, 8%);
        padding: .1em;

        font: {
            family: $logo-font;
        }

        margin: 4em 0 0 0;

        border-top: .4em darken($second-color, 10%) solid;


}



// MEDIA QUERRIES


@media screen and (max-width:1279px) {

    .mainContent {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .taxiBox {

        width: 90vw;

        margin: 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 4em;
        }
    }
  
    }


    @media screen and (max-width:1015px) { 
.taxiBox
        {
        h2 {
            font-size: 4em;
        }

     width: 90vw;
   

    }
    }

    @media screen and (max-width:737px) { 

        .taxiBox
        
            {
                h2 {
                    font-size: 3em;
        }
    }
    }

    @media screen and (max-width:658px) {
        .logo {
            font-size: 2.5em;
        }
    }
           



    @media screen and (max-width:540px) {
    
        .taxiBox  {
            
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0;
        height: 20vw;
        justify-content: space-evenly;

    
    
        }

        .taxiBox a {
            font-size: 1.3em;
        }
      
        }

        @media  screen and (max-width:521px) {
            .logo {
                font-size:2.2em
            }
        }

@media screen and (max-width: 474px) {
    .logo {
        font-size: 2em;
    }
    
}

    @media screen and (max-width:455px) {
            
            .logo {
            h1 {
                font-size: 1.8em;
            }
        }
    }

        
    @media screen and (max-width:383px) {
    

        .taxiBox {

            h2 {
                font-size: 2em;
            }

         a {
            font-size: 1em;
            margin-left: 1em;
        }
      
    }
} 

@media screen and (max-width: 372px) {

        .logo {
            h1 {
                font-size: 1.2em;
                margin: .6em 0 -.5em 0;

            }
        }
        
    }
