body {
  margin: 0;
  padding: 0;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em; }

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.container {
  display: flex;
  align-items: center;
  justify-content: center; }

.site {
  width: 100vw;
  margin: 0; }

header {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background: #2c2c2c;
  border-bottom: 0.1rem solid #131311; }

.logo {
  font-family: "Bebas Neue", cursive;
  font-size: 1.1rem; }

h1 {
  color: aliceblue;
  border-top: 0.03em aliceblue solid;
  border-bottom: 0.03em aliceblue solid;
  padding-top: 0.25rem;
  font-weight: 300; }

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .socials ul {
    display: flex;
    flex-direction: row; }
  .socials li {
    list-style-type: none;
    margin: 1rem; }
  .socials a {
    font-size: 1.5rem;
    text-decoration: none;
    color: aliceblue;
    transition: all 0.2s ease-in-out; }
    .socials a:hover .socials a:active {
      color: #01bbc2; }

#fblogo:hover,
#fblogo:active {
  color: #01bbc2;
  transition: 0.2s all ease-in-out; }

.mainContent {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  margin: 5rem 0 5rem 0; }

h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 2.2rem;
  margin: 0; }

.taxiBox {
  background: #cecece;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2b2b2b;
  text-align: center;
  width: 15rem;
  height: 4rem;
  padding: 2rem;
  cursor: pointer;
  user-select: none;
  transition: all ease-in-out 0.2s; }
  .taxiBox h2 {
    color: #2b2b2b; }
  .taxiBox a {
    text-decoration: none;
    color: #2b2b2b;
    font-weight: 100;
    font-size: 1.5em; }
  .taxiBox:hover, .taxiBox:active {
    background: #2c2c2c;
    opacity: 1;
    color: #515151; }
    .taxiBox:hover h2, .taxiBox:active h2 {
      color: #01bbc2; }
    .taxiBox:hover a, .taxiBox:active a {
      color: aliceblue; }

footer {
  margin-top: 2rem;
  background: #cecece;
  padding: 0.02em 0 6rem 0;
  width: 100%;
  font-family: "Bebas Neue", cursive;
  border-top: 0.25em black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  user-select: none; }

.prefooter {
  width: 100%;
  color: #2b2b2b;
  background: url("../images/logo2.png") no-repeat;
  background-position: fixed;
  background-position-x: 58vw;
  background-size: 41rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 25rem;
  font-size: 1rem; }
  .prefooter p {
    font-size: 2rem; }
  .prefooter a {
    text-decoration: none;
    color: #4267b2;
    transition: all 0.5s ease-in-out; }
    .prefooter a:hover, .prefooter a:active {
      color: #01bbc2; }

.infosheader {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  align-items: baseline;
  justify-content: flex-end;
  margin-left: 10rem; }
  .infosheader img {
    width: 14%;
    height: auto;
    margin-left: 4px; }

.banner {
  margin-left: 10rem;
  width: 100%; }
  .banner p {
    font-size: 2.5rem; }

.infos {
  display: flex;
  flex-direction: column;
  margin: 3rem 0 2rem 0;
  margin-left: 10rem;
  align-items: flex-start;
  justify-content: baseline; }
  .infos h3 {
    color: #4267b2;
    font-size: 3.5rem;
    font-weight: 300; }
  .infos ul {
    font-size: 0.98rem;
    display: flex;
    gap: 0.5rem;
    margin-top: -4rem;
    margin-left: 9.7rem; }
  .infos li {
    list-style-type: none; }

.description {
  width: 40.5rem;
  text-align: justify;
  line-height: 2.2rem;
  margin-left: 10vw; }
  .description p {
    font-size: 1.5rem; }

.mainflex {
  display: flex;
  flex-direction: column; }

.taxiBoxAdmin {
  background: #cecece;
  margin: 0;
  gap: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b2b2b;
  text-align: center;
  width: 25rem;
  height: 5rem;
  padding: 2rem;
  cursor: pointer;
  user-select: none;
  transition: all ease-in-out 0.2s; }
  .taxiBoxAdmin h2 {
    color: #2b2b2b; }
  .taxiBoxAdmin a {
    text-decoration: none;
    color: #2b2b2b;
    font-weight: 100;
    font-size: 1.5em; }
  .taxiBoxAdmin:hover, .taxiBoxAdmin:active {
    background: #2c2c2c;
    opacity: 1;
    color: #515151; }
    .taxiBoxAdmin:hover h2, .taxiBoxAdmin:active h2 {
      color: #01bbc2; }
    .taxiBoxAdmin:hover a, .taxiBoxAdmin:active a {
      color: aliceblue; }

.controls li {
  line-height: 2rem;
  list-style-type: none; }
  .controls li a:hover .controls li a:active {
    color: #01bbc2;
    transition: all 0.3s ease-in-out; }

.addTaxi {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background: #cecece;
  width: 100%; }
  .addTaxi input,
  .addTaxi button {
    background-color: #c1c1c1;
    border: none;
    height: 2rem;
    border-radius: 0.1rem; }
  .addTaxi input {
    padding: 0.1rem 0.5rem;
    text-align: center; }
  .addTaxi label {
    margin-left: 1rem; }
  .addTaxi button {
    width: 5rem;
    height: 2.5rem;
    background-color: #b5b5b5;
    font-weight: 600;
    margin-left: 5rem; }
    .addTaxi button:hover, .addTaxi button:active {
      background-color: #01bbc2;
      transition: all 0.3s ease-in-out; }

.addIcon {
  font-size: 1.5rem;
  padding: 0.75rem; }
  .addIcon a {
    text-decoration: none;
    color: #4f4f4f; }
    .addIcon a:hover, .addIcon a:active {
      color: #01bbc2;
      transition: all 0.3s ease-in-out; }

.loginform {
  width: 25rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  background: #b5b5b5; }
  .loginform input {
    color: #4f4f4f;
    background: #9b9b9b;
    border: none;
    margin: 1rem 0;
    padding: .5rem; }
    .loginform input:last-child {
      font-weight: 600; }
      .loginform input:last-child:hover, .loginform input:last-child:active {
        background-color: #01bbc2;
        transition: all 0.3s ease-in-out; }
    .loginform input:hover, .loginform input:active {
      background-color: #01bbc2;
      transition: all 0.3s ease-in-out; }
  .loginform label {
    font-weight: 600; }

/*# sourceMappingURL=generals.css.map */
