body {
  margin: 0;
  padding: 0;
  background: rgba(24, 24, 24, 0.432);
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: .9em; }

.flexbox {
  display: flex; }

.container h1, .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
  margin-top: 5vw; }

ul {
  display: flex;
  gap: 2em;
  padding: 0; }

.logo {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  background: #c3c3c3;
  border-bottom: 0.1em #a2a2a2 solid;
  box-shadow: 0 0 1em #636363;
  width: 45vw;
  height: 100vh;
  position: fixed; }

.site {
  width: 100vw;
  background: #1010101b;
  margin: 0; }

h1 {
  color: #2f2f2f;
  font-weight: 300;
  border-top: 0.02em #898989 solid;
  border-bottom: 0.02em #898989 solid;
  padding-top: .20em;
  padding-left: .5em;
  padding-right: .5em; }

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-top: 2em;
  margin-left: 50vw; }

h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 3em;
  margin: 0; }

.navigation li {
  list-style-type: none;
  font-size: 1.2em; }
  .navigation li a {
    color: #bcbcbc;
    text-decoration: none; }
  .navigation li a:hover {
    color: #efefef; }

.navigation {
  background: rgba(31, 31, 31, 0.898);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 20;
  box-shadow: rgba(0, 0, 0, 0.1058823529) 0em 0.5em 0.5em; }
  .navigation .active {
    color: #afafaf; }

.taxiBox {
  background: rgba(16, 16, 16, 0.1118823529);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #090909;
  opacity: .7;
  text-align: center;
  width: 45vw;
  height: 10vw;
  cursor: pointer; }
  .taxiBox a {
    text-decoration: none;
    color: #090909;
    font-weight: 100;
    font-size: 1.5em; }

.taxiBox:hover {
  background: #ffdd1f;
  opacity: 1;
  color: #2f2f2f;
  transition: .5s;
  animation: ease-in; }

footer p {
  text-align: center;
  color: #898989;
  margin-left: 45vw; }

footer {
  background: #c3c3c3;
  padding: .1em;
  font-family: "Bebas Neue", cursive;
  border-top: 0.4em #969696 solid;
  margin-top: 1em; }

@media screen and (max-width: 1408px) {
  .logo {
    font-size: 3em; } }
@media screen and (max-width: 1280px) {
  .logo {
    font-size: 2.7em; } }
@media screen and (max-width: 1140px) {
  .logo {
    font-size: 2.3em; } }
@media screen and (max-width: 737px) {
  .taxiBox h2 {
    font-size: 2.5em; } }
@media screen and (max-width: 664px) {
  .taxiBox h2 {
    font-size: 2.1em; } }
@media screen and (max-width: 658px) {
  .logo {
    font-size: 1.9em; } }
@media screen and (max-width: 600px) {
  .logo {
    width: 100%;
    position: unset;
    height: 5em; }

  .flexbox {
    flex-direction: column; }

  .container h1 {
    margin-top: .5em; }

  .mainContent {
    margin-left: 0;
    align-items: center; }

  .taxiBox {
    width: 85%;
    padding: 1.5em; } }
@media screen and (max-width: 540px) {
  .taxiBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    height: 20vw;
    justify-content: space-evenly; }

  .taxiBox a {
    font-size: 1.3em; } }
@media screen and (max-width: 521px) {
  .logo {
    font-size: 1.8em; } }
@media screen and (max-width: 455px) {
  .logo h1 {
    font-size: 1.8em; } }
@media screen and (max-width: 383px) {
  .taxiBox h2 {
    font-size: 2em; }
  .taxiBox a {
    font-size: 1em;
    margin-left: 1em; } }
@media screen and (max-width: 375px) {
  .logo {
    height: 3.5em; }
    .logo h1 {
      font-size: 1.5em; } }

/*# sourceMappingURL=generals.css.map */
