body {
  margin: 0;
  padding: 0;
  background: linear-gradient(18deg, #131311 0%, #4f4f4f 100%);
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: .9em; }

.container h1, .navigation {
  display: flex;
  flex-direction: column;
  align-items: center; }

ul {
  display: flex;
  gap: 2em;
  padding: 0; }

.logo {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  background: #c3c3c3;
  border-bottom: 0.1em #303030 solid;
  box-shadow: 0 0 1em #161616; }

.site {
  width: 100vw;
  background: #1010101b;
  margin: 0; }

h1 {
  color: #2f2f2f;
  font-weight: 300;
  border-top: 0.02em #898989 solid;
  border-bottom: 0.02em #898989 solid;
  padding-top: .20em;
  padding-left: .5em;
  padding-right: .5em; }

.mainContent {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1.8em; }

h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 3em;
  margin: 0; }

.navigation li {
  list-style-type: none;
  font-size: 1.2em; }
  .navigation li a {
    color: #bcbcbc;
    text-decoration: none; }
  .navigation li a:hover {
    color: #efefef; }

.navigation {
  background: rgba(31, 31, 31, 0.898);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 20;
  box-shadow: rgba(0, 0, 0, 0.1058823529) 0em 0.5em 0.5em; }
  .navigation .active {
    color: #afafaf; }

.taxiBox {
  background: linear-gradient(186deg, #9b9b9b 75.5%, #a5a5a5 100%);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #090909;
  opacity: .7;
  text-align: center;
  width: 25vw;
  height: 13vw;
  box-shadow: rgba(0, 0, 0, 0.1058823529) 0.5em 0.5em 0.5em 0.3em; }
  .taxiBox a {
    text-decoration: none;
    color: #090909;
    font-weight: 100;
    font-size: 1.5em; }

.taxiBox:hover {
  opacity: 1;
  color: #c5c516;
  transition: .5s;
  animation: ease-in; }

footer p {
  text-align: center;
  color: #898989; }

footer {
  background: rgba(31, 31, 31, 0.498);
  padding: .1em;
  font-family: "Bebas Neue", cursive;
  margin: 8em 0 0 0; }

@media screen and (max-width: 1279px) {
  .mainContent {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center; }

  .taxiBox {
    width: 90vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .taxiBox h2 {
      font-size: 4em; } }
@media screen and (max-width: 1015px) {
  .taxiBox {
    width: 90vw; }
    .taxiBox h2 {
      font-size: 4em; } }
@media screen and (max-width: 737px) {
  .taxiBox h2 {
    font-size: 3em; } }
@media screen and (max-width: 658px) {
  .logo {
    font-size: 2.5em; } }
@media screen and (max-width: 540px) {
  .taxiBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    height: 20vw; }

  .taxiBox a {
    font-size: 1.3em;
    margin-left: 3em; } }
@media screen and (max-width: 521px) {
  .logo {
    font-size: 2.2em; } }
@media screen and (max-width: 474px) {
  .logo {
    font-size: 2em; } }
@media screen and (max-width: 455px) {
  .logo h1 {
    font-size: 1.8em; } }
@media screen and (max-width: 383px) {
  .taxiBox h2 {
    font-size: 2em; }
  .taxiBox a {
    font-size: 1em;
    margin-left: 1em; } }
@media screen and (max-width: 372px) {
  .logo h1 {
    font-size: 1.2em;
    margin: .6em 0 -.5em 0; } }

/*# sourceMappingURL=generals.css.map */
